Patryk Kucharski <patrykkuchar@gmail.com> TwojaTata <39413818+TwojaTata@users.noreply.github.com>
Patryk Kucharski <patrykkuchar@gmail.com> patryk <patrykkuchar@gmail.com>
Patryk Kucharski <patrykkuchar@gmail.com> twojatata <patrykkuchar@gmail.com>
Patryk Kucharski <patrykkuchar@gmail.com> BaNe <patrykkuchar@gmail.com>
